@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">William D. Watts</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/me.cropped.jpg" alt="..." />
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Full Stack Developer - Web Designer - Software Engineer</p>
        </br>
        <div>
            <img class="mx-3" src="~/assets/img/Centriq - Full Stack Coding Program Graduate Badge - 2023-05-05.png" />
            <img class="mx-3" src="~/assets/img/Centriq - Full Stack Coding Program Professionalism Skills Badge - 2023-05-05.png" />
        </div>
        
        </br>
        
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>ToDo Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/todo.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Storefront Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/storefront.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Web API Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/api.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4>Dungeon Crawler Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4>Student Scheduling Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/SAT.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4>Atomic Synergistics Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img style="height: 300px; width: 400px;" class="img-fluid" src="assets/img/portfolio/Atomic_Synergistics.png" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section-->
<section class="page-section bg-primary text-white mb-0" id="resume">
    <div class="container">
        <!-- Resume Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Resume</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
         <div class="text-center mb-3">
            <img class="mx-3" src="~/assets/img/MVCBadge.png" />
            <img class="mx-3" src="~/assets/img/JSBadge.png" />
            <img class="mx-3" src="~/assets/img/APIBadge.png" />
            <img class="mx-3" src="~/assets/img/Centriq - Full Stack Coding Program - SQL Badge - 2023-05-05.png" />
            <img class="mx-3" src="~/assets/img/CSharp.png" />
        </div>
        <!-- Resume Section Content-->
        <div class="row">

            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Skills</h4>
                <ul class="">
                    <li>.NET Core MVC Framework</li>
                    <li>Troubleshooting & Debugging</li>
                    <li>Source Control</li>
                    <li>Website Deployment</li>
                    <li>Agile/Scrum (Created Team Project)</li>
                </ul>
            </div>
            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Education</h4>
                <ul class="">
                    <li>Graduated Odessa High School in 2015</li>
                    <li>Started Centriq's Full Stack Developer Course in October 2022</li>
                    <li>Graduated Centriq's Full Stack Developer Course in May 2023</li>
                    <li>Centriq's Student of the month for April 2023</li>
                </ul>
            </div>
            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Languages</h4>
                <ul class="">
                    <li>C#</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>SQL</li>
                    <li>LINQ</li>
                </ul>
            </div>
        </div>
        <!-- Resume Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/assets/WilliamWattsResumeIT.pdf" target="_blank">
                <i class="fas fa-download me-2"></i>
                Download Resume!
            </a>
        </div>
       
    </div>
</section>

<!-- Classmates -->
<section class="page-section portfolio" id="classmates">
    <div class="container">
        <!-- Classmates Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Classmates</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Classmates Grid Items-->
        <div class="row justify-content-center">
            <!-- Classmates Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Corbin Brown</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Corbin!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/corbin.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 2-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4 class="classmate">Colson Donner</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Colson!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/Colson.jfif" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">ToDo Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/todo.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My ToDo checklist application is a single page application built using React JS, a popular JavaScript library. Users can sign in using a GitHub account and have full CRUD access. Obviously the items in the checklist can be marked as done, which will remove them from the default view. I have leveraged the .NET Web API as my backend.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/ToDo-App/tree/master" target="_blank">Check it out on GitHub!</a>
                            <a class="btn btn-outline-dark modalbtn" href="http://todo.williamdwatts.com/" target="_blank">Check out the deployed version here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Storefront Project</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/storefront.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My storefront is a mock up e-commerce site, where users can browse, search, and add items to a cart, and admins can view important records in the database. This is a mock up of an online store that I woudld have liked to use for a hobby store that I owned and ran from 2016-2018. This is a full stack app, using MVC, a popular .NET design pattern architecture. The backend is a SQL database that I designed and built.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/StoreFront" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Web API Project</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/api.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My web API project was built to showcase my ability to create a RESTful API that can be consumed by another application. This API is what is consumed by my ToDo checklist App. It stores JSON objects to be instantiated later by another application.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/ToDoAPI" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Dungeon Crawler Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">My dungeon app was created in C# as a tool to nail down the fundamentals of the language. It includes things like custom classes and libraries, random drop chance, custom methods for combat and determining damage, as well as weapon and race selection, a score counter, and even leveling up. I had a blast creating this project.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Student Scheduling Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/portfolio/SAT.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">The student scheduling app is a MVC application, that was built in 6 short days using paired programming. Similar to the storefront project, this focuses on MVC and Entity Framework, using a SQL database built and designed by my partner for this project Colson. This app lets users see the upcoming classes and certain authorized users can edit the database to enroll or remove students from classes.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/SAT" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Atomic Synergistics Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/portfolio/Atomic_Synergistics.png" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">This was my final project. It was completed in a group with my classmates Corbin and Colson. Similar to the SAT and storefront projects, this is an MVC application with a SQL database built and designed by Colson. This is an administartive tool to browse and serach records, as well as full CRUD functionality. </p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/AtomicSynergisticsPersonalCopy" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Classmate Modals-->
<!--Classmate Modal 1-->
<div class="portfolio-modal modal fade" id="classmateModal1" tabindex="-1" aria-labelledby="classmateModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Corbin Brown</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/corbin.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Corbin is an amazing developer who really focuses on the details. A great problem solver with a creative train of thought, he has done fantastic work on all of his projects.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://corbin-brown.com/" target="_blank">Vist Corbin's Website!</a>
                            <a class="btn btn-outline-dark modalbtn" href="https://www.linkedin.com/in/corbin-brown-2b93221b1/" target="_blank">Vist Corbin's LinkedIn!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Classmate Modal 2-->
<div class="portfolio-modal modal fade" id="classmateModal6" tabindex="-1" aria-labelledby="classmateModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Colson Donner</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="/assets/img/Colson.jfif" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Colson is always giving his project 100%. His steadfastness and logic lend themselves to his coding capabilities very naturally.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://colsondonnerdev.com/" target="_blank">Vist Colson's Website!</a>
                            <a class="btn btn-outline-dark modalbtn" href="https://www.linkedin.com/in/colson-donner-60a803244/" target="_blank">Vist Colson's LinkedIn!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>