@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/me.1.jpg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">William D. Watts</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Full Stack Developer - Web Designer - Software Engineer</p>
        </br>
        <!-- Footer Social Icons-->
        <h4 class="text-uppercase mb-4">LinkedIn/Github</h4>
        <div class="col-lg-4 mb-5 mb-lg-0">

            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/william-watts-09a57625b/"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/WWatts97"><i class="fab fa-fw fa-github"></i></a>
        </div>
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>ToDo Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/todo.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Storefront Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/storefront.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Web API Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/api.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4>Dungeon Crawler Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section-->
<section class="page-section bg-primary text-white mb-0" id="resume">
    <div class="container">
        <!-- Resume Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Resume</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Resume Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">I am hard-working person who is always willing to give his all. I am excited to learn more on my journey of becoming a professional developer.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Here is my resume! Please download it and hire me.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/assets/William Watts Resume IT.pdf" target="_blank">
                <i class="fas fa-download me-2"></i>
                Download Resume!
            </a>
        </div>
    </div>
</section>

<!-- Classmates -->
<section class="page-section portfolio" id="classmates">
    <div class="container">
        <!-- Classmates Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Classmates</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Classmates Grid Items-->
        <div class="row justify-content-center">
            <!-- Classmates Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Corbin Brown</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><a class="btn btn-outline-dark classmate" href="http://corbin-brown.com/" target="_blank">Visit  Corbin's Website!</a></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/corbin.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Eugene Cathcart</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><a class="btn btn-outline-dark classmate" href="http://genecathcart.com" target="_blank">Visit Eugene's Website!</a></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/gene.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Robert Eyre</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><a class="btn btn-outline-dark classmate" href="http://roberteyre.com" target="_blank">Visit Robert's Website!</a></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/robert.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4 class="classmate">Dan Ambro</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><a class="btn btn-outline-dark classmate" href="http://danielambro.com/" target="_blank">Visit Dan's Website!</a></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/dan.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <h4 class="classmate">Alex Erdrich</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><a class="btn btn-outline-dark classmate" href="" target="_blank">Visit Alex's Website!</a></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/avataaars.svg" alt="..." />
                </div>
            </div>

        </div>
    </div>
</section>
<section class="page-section" id="mtg">
    <div id="mtgResults"></div>
</section>
<!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">ToDo Application</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/todo.jpg" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">The React To Do Application is a portfolio project that will allow you to showcase your ability to build single page applications using React JS.  The application will allow users to sign in and see items on their to do list.  Users will be able to add, edit, delete, or mark to do items as complete.  This application will leverage the .NET Web API as the backend of the application.  The React To Do Application will be built during your React courses. </p>
                                <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication">Check it out on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Storefront Project</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/storefront.jpg" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">The StoreFront Application is intended to showcase your ability to build full stack web applications. For this project, you will build a mock e-commerce site. You can select any work appropriate items to “sell” on the site. You will design the database that will be used for the application. You will progressively expand the functionality of this application throughout your MVC classes. When pushing content to the repo for this project, ensure that the configs folder is not being tracked by Git and that all sensitive data is obscured by storing it in external config files in that folder.</p>
                                <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication">Check it out on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Web API Project</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="assets/img/portfolio/api.jpg" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">The Web API project is intended to showcase your ability to create a RESTful API that can be consumed by another application.  The topic of this API is to provide the backend for a To Do list application.  The application will provide all necessary endpoints to allow the consuming application to have full CRUD functionality for To Do items.  The .NET Web API project will be built during your React course. </p>
                                <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication">Check it out on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Dungeon Crawler Application</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-4">The Dungeon Application is intended to showcase your C# skills. It will allow you to demonstrate your ability to break down multi-stage processes into steps and to design complex logical structures. </p>
                                <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication">Check it out on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
