@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/me.1.jpg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">William D. Watts</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Full Stack Developer - Web Designer - Software Engineer</p>
        </br>
        <!-- Footer Social Icons-->
        <h4 class="text-uppercase mb-4">LinkedIn/Github</h4>
        <div class="col-lg-4 mb-5 mb-lg-0">

            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/william-watts-09a57625b/"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/WWatts97"><i class="fab fa-fw fa-github"></i></a>
        </div>
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>ToDo Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/todo.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Storefront Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/storefront.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4>Web API Project</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/api.jpg" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4>Dungeon Crawler Application</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section-->
<section class="page-section bg-primary text-white mb-0" id="resume">
    <div class="container">
        <!-- Resume Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Resume</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Resume Section Content-->
        <div class="row">

            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Skills</h4>
                <ul class="">
                    <li>.NET Core MVC Framework</li>
                    <li>Troubleshooting & Debugging</li>
                    <li>Source Control</li>
                    <li>Website Deployment</li>
                    <li>Agile/Scrum (Created Team Project)</li>
                </ul>
            </div>
            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Education</h4>
                <ul class="">
                    <li>Graduated Odessa High School in 2015</li>
                    <li>Started Centriq's Web Developer in 2022</li>
                </ul>
            </div>
            <div class="col-lg-4 align-content-center">
                <h4 class="text-uppercase">Languages</h4>
                <ul class="">
                    <li>C#</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>SQL</li>
                    <li>LINQ</li>
                </ul>
            </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/assets/WilliamWattsResumeIT.pdf" target="_blank">
                <i class="fas fa-download me-2"></i>
                Download Resume!
            </a>
        </div>
    </div>
</section>

<!-- Classmates -->
<section class="page-section portfolio" id="classmates">
    <div class="container">
        <!-- Classmates Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Classmates</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Classmates Grid Items-->
        <div class="row justify-content-center">
            <!-- Classmates Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Corbin Brown</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Corbin!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/corbin.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Eugene Cathcart</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Gene!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/gene.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <h4 class="classmate">Robert Eyre</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Robert!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/robert.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4 class="classmate">Dan Ambro</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Dan!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/dan.jpg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <h4 class="classmate">Alex Erdrich</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Alex!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/avataaars.svg" alt="..." />
                </div>
            </div>
            <!-- Classmates Item 6-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <h4 class="classmate">Colson Donner</h4>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#classmateModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><p class="text-white classmate">Learn more about Colson!</p><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid classmate" src="assets/img/avataaars.svg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="mtg">
    <div id="mtgResults"></div>
</section>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">ToDo Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/todo.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">The React To Do Application is a portfolio project that will allow you to showcase your ability to build single page applications using React JS.  The application will allow users to sign in and see items on their to do list.  Users will be able to add, edit, delete, or mark to do items as complete.  This application will leverage the .NET Web API as the backend of the application.  The React To Do Application will be built during your React courses. </p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/ToDo-App/tree/master" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Storefront Project</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/storefront.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">The StoreFront Application is intended to showcase your ability to build full stack web applications. For this project, you will build a mock e-commerce site. You can select any work appropriate items to “sell” on the site. You will design the database that will be used for the application. You will progressively expand the functionality of this application throughout your MVC classes. When pushing content to the repo for this project, ensure that the configs folder is not being tracked by Git and that all sensitive data is obscured by storing it in external config files in that folder.</p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/StoreFront" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Web API Project</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="assets/img/portfolio/api.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">The Web API project is intended to showcase your ability to create a RESTful API that can be consumed by another application.  The topic of this API is to provide the backend for a To Do list application.  The application will provide all necessary endpoints to allow the consuming application to have full CRUD functionality for To Do items.  The .NET Web API project will be built during your React course. </p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/ToDoAPI" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Dungeon Crawler Application</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/portfolio/dungeon.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">The Dungeon Application is intended to showcase your C# skills. It will allow you to demonstrate your ability to break down multi-stage processes into steps and to design complex logical structures. </p>
                            <a class="btn btn-outline-dark modalbtn" href="https://github.com/WWatts97/DungeonApplication" target="_blank">Check it out on GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Classmate Modals-->
<!--Classmate Modal 1-->
<div class="portfolio-modal modal fade" id="classmateModal1" tabindex="-1" aria-labelledby="classmateModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Corbin Brown</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/corbin.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Corbin is an amazing developer who really focuses on the details. A great problem solver and creative train of thought he has done fantastic worl on all of his projects.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://corbin-brown.com/" target="_blank">Vist Corbin's Website!</a>
                            <a class="btn btn-outline-dark modalbtn" href="https://www.linkedin.com/in/corbin-brown-2b93221b1/" target="_blank">Vist Corbin's LinkedIn!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Classmate Modal 2-->
<div class="portfolio-modal modal fade" id="classmateModal2" tabindex="-1" aria-labelledby="classmateModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Eugene Cathcart</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/gene.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Gene is a self-taught programmer with close to 10 years of experience. A bright light and even brighter future in the tech industry, i'm looking forward to see his progress.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://genecathcart.com" target="_blank">Vist Gene's Website!</a>
                            <a class="btn btn-outline-dark modalbtn" href="https://www.linkedin.com/in/genecathcart/" target="_blank">Vist Gene's LinkedIn!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Classmate Modal 3-->
<div class="portfolio-modal modal fade" id="classmateModal3" tabindex="-1" aria-labelledby="classmateModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Robert Eyre</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/robert.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Robert has been an inspiration to me through out our short time in class together. He is extremely tenacious, powering through any struggles that lay in his path. His unwavering focus will only be a blessing to him and any lucky enough to work with him.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://roberteyre.com" target="_blank">Vist Robert's Website!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Classmate Modal 4-->
<div class="portfolio-modal modal fade" id="classmateModal4" tabindex="-1" aria-labelledby="classmateModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Dan Ambro</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/dan.jpg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Dan can write code as good as he can cook you dinner. His long history as a chef let's him cook up some delicious projects. Yum!</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://danielambro.com/" target="_blank">Vist Dan's Website!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Classmate Modal 5-->
<div class="portfolio-modal modal fade" id="classmateModal5" tabindex="-1" aria-labelledby="classmateModal5" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Alex Erdrich</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="assets/img/avataaars.svg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Alex is a fantastic father and has been a super creative teammate. His ideas and contributions are always outside the box, making him a great stylist.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://alexerdrich.com/" target="_blank">Vist Alex's Website!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Classmate Modal 6-->
<div class="portfolio-modal modal fade" id="classmateModal6" tabindex="-1" aria-labelledby="classmateModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Colson Donner</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" id="dungeon" src="/assets/img/avataaars.svg" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Colson is always giving his project 100%. His steadfastness and logic lend themselves to his coding capabilities very naturally.</p>
                            <a class="btn btn-outline-dark modalbtn" href="http://colsondonnerdev.com/" target="_blank">Vist Colson's Website!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
